@import "../theme/colors.css";

* { font-family: "JetBrainsMono Nerd Font"; font-size: 14px; border: none; border-radius: 0; min-height: 18px; }
window#waybar { background: alpha(@base, 0.92); color: @text; border-bottom: 2px solid @surface1; min-height: 30px; }
#workspaces button { padding: 0 8px; color: @subtext; background: transparent; }
#workspaces button.active, #workspaces button.focused { background: @primary; color: @on_primary; }
#network, #bluetooth, #pulseaudio, #custom-notification, #battery, #clock, #tray, #custom-keyboard { padding: 0 9px; color: @text; }
#network:hover, #bluetooth:hover, #pulseaudio:hover, #custom-notification:hover, #battery:hover, #clock:hover, #tray:hover, #custom-keyboard:hover { background: @surface0; }
#battery.charging { color: @primary; }
#battery.warning { color: @tertiary; }
#battery.critical { color: @error; }
